numpy
scipy
requests
numba
cffi
pyamg
matplotlib
meshio
lxml
h5py
git+https://github.com/FEniCS/fiat.git#egg=fenics-fiat
git+https://github.com/FEniCS/ufl.git#egg=fenics-ufl
git+https://github.com/FEniCS/ffcx.git#egg=fenics-ffcx
